@charset "utf-8";


*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#wrap{

    width: 1240px;

}
.homeback{
    position: relative;
    right: -30px;
    top: 40px;
    /*background-image: url(/resources/img/logo_m.png);
    background-repeat: no-repeat;
    background-size: 58px;
    text-indent: -999999px; */

}
.homeback img{
	 width: 150px;
}


.headerBox{
   
    width: 602px;
    height: 54px;
    /* margin-bottom: 20px; */
    /* margin: 0 auto; */
    /* position: relative; */
    /* border-bottom: 1px solid #000 ; */
    

    
}
hr{
    color: rgba(224, 219, 219, 0.712);
}

.headerBox h1{
    /* text-align: center; */
    font-size: 16px;
    line-height: 54px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    
    
    /* background-color: aqua; */
    
}
.btn_close{
    /* background-color:bisque; */
   position: relative;
    top: -53px;
    right: -90%;
    width: 60px;
    height: 54px;
    margin-top: 12px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../img/btn_title_close.png);
    background-size: 22px;

    background-repeat: no-repeat;
    text-indent: -99999999999999px;
    /* width: 5px;
    height: 50px; */
    /* background-color: black;
    transform: rotate(-45deg); */
    
}

#notice{
    display:block;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    text-align: center;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #000;
    margin: 0 auto;
    margin-top: 40px;
    
    /* background-color: blue; */
    
}

#login_box{
    width: 800px;
    /* background-color: #EEEFF1; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;
}

#loginid{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
    cursor: text;
    /* border: none; */
}
#loginpw{
    width: 500px;
    height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: text;
}
#dologin{
    width: 500px;
    height: 54px;
    margin-bottom: 10px;
    font-size: 14px;
    border: none;
    padding: 10px;
    background-color: #1BBC9B;
    color: white;
    
}

.id_saved{
   display: block;
   /* text-align: center; */
   margin-left:30%;
   /* background-color:aqua; */
   margin-bottom: 20px;
}

.etc_login{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px 17px;
    margin-bottom: 20px;
    width: 45px;
    height: 45px;
    /* border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; */
}

button{
    
    background: transparent;
    
    padding: 0;
    color: #252525;
    font-size: 13px;
    width: 104px;
    height: 89px;
    line-height: 1.23;
    letter-spacing: -0.65px;
    margin-top: 20px;
    /* background-color: tomato; */
    border: none;
  
}
.etc_login img{
    display: block;
    width: 45px;
    height: 45px;
    margin-left: 28px;
    
  
    /* background-color: tomato; */
    /* margin-bottom: 20px; */
    /* vertical-align: top; */
}

.etc_login span{
   line-height: 20px;
    /* background-color: #1BBC9B; */
}


.bottom_menu{
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
    /* background-color: #1BBC9B; */

}
.bottom_menu a{
    
    margin-right: 25px;
    
    
}

.bottom_menu li::before{
/*    
    position: absolute;
    left: 0;
    top: 50%; */
    /* margin-top: -6px; */
    width: 1px;
    height: 12px;
    background-color: #c6c6c6;
    content: "";
}
.bottom_menu li a{
   
    font-size: 15px;
    font-weight: bold;
    color: #1BBC9B;
}

.join_membership{

    margin-top: px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    padding:15px;
    width: 450px;
    height: 44px;
    font-size: 12px;
    border: solid 1px #d3d3d3;
    background-color: #fff;
    border-radius: 10px;
    /* letter-spacing: -0.7px; */
    position: relative;


}


.join_membership em{
    
    /* position: absolute; */
    padding-right: 12px;
    /* background-color: sandybrown; */
    font-weight: bold;
    margin-left: 230px;
    
   
    
}

.join_membership .arrow{
    background: url(../img/icon_signup_arrow.png);
    background-size: 7px auto;
    background-repeat: no-repeat;
    content: "";
    width: 7px;
    height: 12px;
    /* background-color: salmon; */
   
}






     
